palette1-1 = #F8D5F0
palette1-2 = #58D5D3
palette1-3 = #41A4C3
palette1-4 = #3F4B83

body
  margin 0

.header
  background palette1-4
  display flex
  justify-content: space-between;
  padding 20px
  .left
    background palette1-2
    width 600px
    height 60px
  .right
    background palette1-1
    width 200px
    height 60px
.wrapper
  display flex
  height 100vh
  .left
    width 50%
    background palette1-1
  .right
    width 50%
    background palette1-3
