body,
figure {
  margin: 0;
}
.header {
  background: #58d5d3;
  position: fixed;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .left {
  height: 55px;
  width: 300px;
  background: #f8d5f0;
  display: flex;
  align-items: center;
}
.header .left .logo {
  height: 45px;
  width: 45px;
  background: #41a4c3;
}
.header .left nav {
  margin-left: 20px;
  display: flex;
}
.header .left nav p {
  margin: 0 10px;
}
.header .right {
  height: 55px;
  width: 200px;
  background: #f8d5f0;
}
.wrapper {
  height: 100vh;
  background: #3f4b83;
}
.footer {
  background: #58d5d3;
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .left {
  height: 20px;
  width: 150px;
  background: #f8d5f0;
}
.footer .right {
  height: 35px;
  width: 400px;
  background: #f8d5f0;
  display: flex;
  align-items: center;
}
.footer .right p {
  margin: 0 10px;
}
