palette1-1 = #F8D5F0
palette1-2 = #58D5D3
palette1-3 = #41A4C3
palette1-4 = #3F4B83

body
figure
  margin 0

.header
  background palette1-2
  position fixed
  height 70px
  width 100%
  display flex
  justify-content space-between
  align-items center
  .left
    height 55px
    width 300px
    background palette1-1
    display flex
    align-items center
    .logo
      height 45px
      width 45px
      background palette1-3
    nav
      margin-left 20px
      display flex
      p
        margin 0 10px

  .right
    height 55px
    width 200px
    background palette1-1
.wrapper
  height 100vh
  background palette1-4

.footer
  background palette1-2
  position fixed
  bottom 0
  height 60px
  width 100%
  display flex
  justify-content space-between
  align-items center
  .left
    height 20px
    width 150px
    background palette1-1
  .right
    height 35px
    width 400px
    background palette1-1
    display flex
    align-items center
    p
      margin 0 10px
