palette1-1 = #F8D5F0
palette1-2 = #58D5D3
palette1-3 = #41A4C3
palette1-4 = #3F4B83

body
  margin 0

.wrapper
  display flex
  height 100vh

.left
  width 50%
  background palette1-1
  display flex
  .box
    margin auto
    height 100px
    width 100px
    background palette1-4
.right
  width 50%
  background palette1-3
  display flex
  .box
    margin auto
    height 100px
    width 100px
    background palette1-2
