palette1-1 = #F8D5F0
palette1-2 = #58D5D3
palette1-3 = #41A4C3
palette1-4 = #3F4B83

body
figure
  margin 0

.header
  background palette1-4
  display flex
  justify-content: space-between;
  padding 20px
  .left
    background palette1-2
    height 60px
    display flex
    align-items center
    .logo
      width 200px
      height 40px
      background palette1-1
    .menu
      display flex
      margin-left 60px
      .item
        background white
        width 100px
        height 30px
        &.meed
          background palette1-1
  .right
    background palette1-1
    width 200px
    height 60px
.wrapper
  display flex
  height 100vh
  .left
    width 50%
    background palette1-1
    display flex
    flex-direction column
    align-items center
    .elem1
      margin-top 90px
      width 450px
      height 110px
      background palette1-4
    .elem2
      width 300px
      height 70px
      background palette1-2
    .elem3
      width 200px
      height 50px
      background white
  .right
    width 50%
    background palette1-3
