body {
  margin: 0;
}
.header {
  background: #58d5d3;
  position: fixed;
  height: 70px;
  width: 100%;
}
.wrapper {
  height: 100vh;
  background: #3f4b83;
}
.footer {
  background: #58d5d3;
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100%;
}
