body {
  margin: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.wrapper .top {
  flex: 1;
  background: #f8d5f0;
}
.wrapper .bottom {
  flex: 1;
  background: #41a4c3;
}
