palette1-1 = #F8D5F0
palette1-2 = #58D5D3
palette1-3 = #41A4C3
palette1-4 = #3F4B83

body
  margin 0

.wrapper
  display flex
  flex-direction column
  height 100vh
  .top
    flex 1
    background palette1-1
    display flex
    align-items center
    justify-content: space-between;
    .box
      height 70px
      width 70px
      &.left
        background palette1-2
      &.med
        background palette1-3
      &.right
        background palette1-4
  .bottom
    flex 1
    background palette1-3
    display: flex;
    align-items: center;
    justify-content: space-around;
    .box
      height 70px
      width 70px
      &.left
        background palette1-4
      &.med
        background palette1-2
      &.right
        background palette1-1
